@font-face {
    font-family: "Space Grotesk";
    src: url("./font/static/SpaceGrotesk-Regular.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("./font/static/SpaceGrotesk-Bold.ttf") format("truetype");

    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("./font/static/SpaceGrotesk-Medium.ttf") format("truetype");

    font-style: normal;
    font-size: 400;
}

:root{
    --bg-color: #D9F0FF;
    --component-bg: #A3D5FF;
    --component-color: #83C9F4;
    --font-color: #40434e;
    --high-priority: #aa1e1e;
    --medium-priority: #e67c67;
    --low-priority: #69f69f;
    --white: #FFFFFF;


    --logo: url("./img/format-list-checks.svg");
    --add-icon: url("./img/plus.svg");
    --edit-icon: url("./img/file-edit.svg");
    --delete-icon: url("./img/delete.svg");
    --view-icon: url("./img/eye.svg");
    --project-icon: url("./img/folder.svg");
    --font: "Space Grotesk", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
    --pad: 24px;
    --margin: 16px;
    --less-gap: 8px;
    --gap: 16px;
    --more-gap: 24px;
    --border: 10px;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img{
    display: block;
    max-inline-size: 100%;
    height: 48px;
    width: auto;
}

button{
    font: inherit;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-color: inherit;
    width: 32px;
    height: 32px;
}

.add{
    background-image: var(--add-icon);
}

.view{
    background-image: var(--view-icon);
}

.delete{
    background-image: var(--delete-icon);
}


body{
    line-height: 1.5;
    font-family: var(--font);
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: var(--bg-color);
    gap: var(--gap);
    color: var(--font-color);
}

header{
    font-size: 1.5rem;
    padding: var(--pad);
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--pad);
    background-color: var(--component-bg);
    margin-bottom: var(--margin);
}

#profile{
    display: flex;
    gap: var(--gap);
    align-items: center;
}


main{
    font-size: 1.15rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: var(--gap);
    height: 100vh;
}


#projects{
    border-radius: 24px;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: 0 0 var(--margin) var(--margin);
    padding: var(--pad);
    background-color: var(--component-bg);
}

.project{
    display: flex;
    gap: var(--gap);
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.project-container{
    display: flex;
    gap: var(--less-gap);
}

#tasks{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    grid-auto-rows: 256px;
    gap: var(--gap);
    margin-bottom: var(--margin);
    
}

.task{
    background-color: var(--component-bg);
    padding: var(--pad);
    border-radius: 24px;
    display: flex;
    flex-direction: column; 
    align-items: start;
    justify-content: space-around;
}

.buttons{
    align-self: flex-end;
}

.high{
    border-left: var(--border) solid var(--high-priority);
}

.medium{
    border-left: var(--border) solid var(--medium-priority);
}

.low{
    border-left: var(--border) solid var(--low-priority);
}

#details{
    border-radius: 24px;
    background-color: var(--component-bg);
    margin: 0 var(--margin) var(--margin) 0;
    padding: var(--pad);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.task-details{
    background-color: var(--component-color);
    border-radius: 24px;
    padding: var(--pad);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--less-gap);
}

.high-priority{
    color: var(--high-priority);
}

.medium-priority{
    color: var(--medium-priority);
}

.low-priority{
    color: var(--low-priority);
}

dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

dialog::backdrop{
    background-color: rgba(217, 194, 240, 0.5);
}

form{
    padding: var(--pad);
    gap: var(--less-gap);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-container{
    display: flex;
    flex-direction: column;
}

form #high-priority{
    accent-color: var(--high-priority);
}

form #medium-priority{
    accent-color: var(--medium-priority);
}

form #low-priority{
    accent-color: var(--low-priority);
}

.radios{
    display: flex;
    gap: var(--gap);
}

input[type=radio]{
    border: 0;
    width: 1.5rem;
    height: 1.5rem;
}


textarea{
    width: 480px;
    height: 180px;
}